<%= render "shared/header" %>
<!--見出し-->
<div class="d-flex justify-content-center mh-100 my-5">
  <div class="left-box mr-5">
    <h1 class="newbaby-index">new baby</h2>
  </div>

 <div class="right-box mr-5">
  <%=form_with model: @baby, url: babies_path, local: true do |f|%>
    <!--エラー表示-->
    <%= render 'shared/error_messages', model: f.object %>
      <!--入力内容-->
      <div class='babyname-form__field'>
          <%= f.label :赤ちゃんのお名前%>
        <div>
          <%= f.text_field :nickname, class:"w-100", placeholder: '赤ちゃんの名前'%>
        </div>
      </div>
      <div class="mt-3">
        <%= f.label :お誕生日, class: 'babyname-form__label'%>
        <div>
          <%= raw sprintf(
                    f.date_select(
                      :birth_day,
                      class:"w-100",
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 2022,
                      end_year: (Time.now.year - 5),
                      date_separator: '%s'),
                    "年", "月") + "日" %>
        </div>
      </div>
      <!--ユーザー情報送信-->
      <input name="baby[user_ids][]" type="hidden" value=<%= current_user.id %>>
      <div class="d-flex justify-content-start mt-4">
          <%= f.submit value = '登録', class: "btn btn-primary" %>
      </div>
  <% end %>
  </div>
</div>