<h1>Meals#new</h1>

<%=form_with model: [@baby,@meal], url: baby_meals_path, local: true do |f|%>
<%= render 'shared/error_messages', model: f.object %>
    <div class='meal-form__field'>
        <%= f.label :食事内容, class: 'meal_content_field'%>
        <%= f.text_field :food, class: 'meal_content__input', placeholder: '(例)にんじん'%>
    </div>
    <div class='meal-form__field'>
        <%= f.label :食事日, class: 'meal_content_field'%>
        <%= raw sprintf(
                  f.date_select(
                    :meal_date,
                    class:'select-meal_date',
                    id:"meal-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2022,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    <div class='meal-form__field'>
         <%= f.label :お食事時間, class: 'meal_content_field'%>
         <%= f.text_field :meal_time, class: 'meal_content__input'%>
    </div>
    <div class='babyname-form__field'>
        <%= f.submit value = '登録', class: 'meal_content-btn' %>
    </div>
  <% end %>